.google-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100px;
  height: 100px;
}

.google-loader-bar {
  display: inline-block;
  width: 7px;
  height: 70px;
  border-radius: 5px;
  margin: 3px;
  animation: google-loading 1s ease-in-out infinite;
  background-color: rgb(61, 48, 48);
}
.google-loader-bar:nth-child(1) {
  animation-delay: 0;
}
.google-loader-bar:nth-child(2) {
  animation-delay: 0.1s;
}
.google-loader-bar:nth-child(3) {
  animation-delay: 0.2s;
}
.google-loader-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes google-loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2);
  }
  40% {
    transform: scale(1);
  }
}
